* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ddd;
}
img {
    width: 200px;
    height: 200px;
}
h1 {
    text-align: center;
    margin: 20px;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* padding: 20px; */
    margin: 20px;
}
.product-item {
    border: 1px solid #ddd;
    /* padding: 20px; */
    width: 200px;
    text-align: center;
}
.product img {
    min-width: 200px;
    min-height: 200px;
    height: auto;
}
.product-name {
    font-size: 18px;
    margin: 10px 0;
    word-wrap:break-word;
    width: 100%;
}
.product-price {
    color: green;
    font-weight: bold;
    margin: 10px 0;
}
.add-to-cart {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
.add-to-cart:hover {
    background-color: #218838;
}